<!DOCTYPE html>
{%load static%}
<html lang="en">

<head>
    <title>Edu.f.All</title>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="HandheldFriendly" content="true">
  <link rel="stylesheet" href="{% static 'all.css' %}">
  <link rel="stylesheet" href="{% static 'bt.css' %}">
  <link rel="stylesheet" href="{% static 'btb.css' %}">
  <link rel="stylesheet" href="{% static 'boi1.css' %}">
  <link rel="stylesheet" href="{% static 'intro.css' %}">
  <link rel="stylesheet" href="{% static 'login.css' %}">
<link rel="stylesheet" type="text/css" href="{%static 'plugins/OwlCarousel2-2.2.1/owl.carousel.css' %}">
<link rel="stylesheet" type="text/css" href="{%static 'plugins/OwlCarousel2-2.2.1/owl.theme.default.css' %}">
<link rel="stylesheet" type="text/css" href="{%static 'plugins/OwlCarousel2-2.2.1/animate.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'testimonial.css' %}">
  <link rel="shortcut icon" href="{% static 'book.png' %}" type="image/x-icon">
</head>

<body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        
          
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'landingPage' %}">
                <img src="{% static 'book.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
                EduForAll
              </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'forum:forumLanding' %}" style="margin-left: 2%;"><span style="color:rgb(0, 0, 0)">Forum</a>
                </li>
                
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'Tests' %}" style="margin-left: 2%;"><span style="color:rgb(0, 0, 0)">Tests</a>
              </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Syllabus' %}" style="margin-left: 2%;"><span style="color:rgb(0, 0, 0)">Syllabus</a>
                </li>

              </ul>
              
              {% if user.is_authenticated %}
              <p style="font-size:1.1rem; padding-top:1%">Hello, {{user.first_name}} {{user.last_name}}</p>
              <p style="font-size:1.1rem; padding-top:1%; margin-left: 2%;"><a href="{% url 'Logout' %}">Logout</a></p>
              {% else %}
              <p style="font-size:1.1rem; padding-top:1%; margin-left: 2%;"><a href="{% url 'register' %}"><span style="color:blue">Register</a></p>
              <p style="font-size:1.1rem; padding-top:1%; margin-left: 2%;"><a href="{% url 'Login' %}"><span style="color:blue">Login</a></p>
              {% endif %}
            </div>
          </nav>


    </header><!-- End Header -->

    <!--<div class="container">-->
    {% block content %}

    {% endblock %}
    <!--</div>-->


    <footer style="text-align: center;"></footer>
    <script src="{% static 'jQuery.js' %}"></script>
    <script src="{% static 'boi2.js' %}"></script>
    <script src="{% static 'boi3.js' %}"></script>
    <script src="{% static 'bootstrap.js' %}"></script>
    <script src="{% static '/js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'plugins/OwlCarousel2-2.2.1/owl.carousel.js' %}"></script>
    <script src="{% static 'custom.js' %}"></script>
</body>

</html>