{% extends 'base.html' %}
{% load static %}
{% block title %}Edu.f.All{% endblock %}
{% block content %}


<br><br><br><br><br><br><br><h1 style="text-align:center; color:rgb(0, 0, 0)"><b>Our Motto : Education should be free for Every Student!</b></h1>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="intro_container">
                <div class="row">

                    <!-- Intro Item -->
                    <div class="col-lg-4 intro_col">
                        <div class="intro_item d-flex flex-row align-items-end justify-content-start">
                            <div class="intro_icon"><img src="{% static 'images/book.png' %}" alt=""></div>
                            <div class="intro_content">
                                <div class="intro_title"><a href="/">Latest Syllabus</a></div>
                                <div class="intro_subtitle">
                                    <p>All the notes are up to date as per latest official guidelines.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Intro Item -->
                    <div class="col-lg-4 intro_col">
                        <div class="intro_item d-flex flex-row align-items-end justify-content-start">
                            <div class="intro_icon"><img src="{% static 'images/tests.png' %}" alt="">
                            </div>
                            <div class="intro_content">
                                <div class="intro_title"><a href="/">Tests</a></div>
                                <div class="intro_subtitle">
                                    <p>All the Questions in tests are as per the latest guidelines and the answers to each questions are correct.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Intro Item -->
                    <div class="col-lg-4 intro_col">
                        <div class="intro_item d-flex flex-row align-items-end justify-content-start">
                            <div class="intro_icon"><img src="{% static 'images/forum.png' %}" alt="">
                            </div>
                            <div class="intro_content">
                                <div class="intro_title"><a href="{% url 'forum:forumLanding' %}">Amazing Forum</a></div>
                                <div class="intro_subtitle">
                                    <p>A place where you can clear all your doubts from your peers or mentors.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Testimonials -->
<div class="container">
    <div class="intro_container">
<div class="testimonials" id="testimonials">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="section_subtitle">From Learners</div>
                <div class="section_title">
                    <h2>Testimonials</h2>
                </div>
            </div>
        </div>
        <div class="owl-item text-center">
            <div class="testimonial">A very nice Initiative by the Creators for making Education free & easily available without any distraction, Would recommend everyone to use and utilize it well.</div>
            <div class="testimonial_author">
                <div
                    class="testimonial_author_content d-flex flex-row align-items-end justify-content-start">
                    <div>Aman Pandit,</div>
                    <div>Student</div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>


<div class="container">
    <div class="intro_container">
<div class="contact" id="connect">
    <h2 class="contactus"></h2>
    <h3 class="cont"></h3>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="section_subtitle">Rational Rulers</div>
                <div class="section_title">
                    <h2>Meet the Creators</h2>
                </div>
            </div>
        </div>
    <div class="row">
        <div class="col-lg-4 col-xs-12">
        <div class="column">
            <div class="name">Devang Kamble</div>
            <h5 class="ghhh"><a href="https://github.com/rising-entropy" style="color: #fdfdfd;">GitHub</a> | <a href="https://www.instagram.com/devangkamble/" style="color: #fdfdfd;">Instagram</a></h5>
            <p class="college">Walchand College of Engineering, Sangli</p>
        </div></div>
        <div class="col-lg-4 col-xs-12">
        <div class="column">
            <div class="name">Vaishnavi Mahajan</div>
            <h5 class="ghhh"><a href="https://github.com/VaishnaviM411" style="color: #fdfdfd;">GitHub</a> | <a href="https://www.instagram.com/_vibhaa._/" style="color: #fdfdfd;">Instagram</a></h5>
            <p class="college">Walchand College of Engineering, Sangli</p>
        </div></div>
        <div class="col-lg-4 col-xs-12">
            <div class="column">
                <div class="name">Aman Pandit</div>
                <h5 class="ghhh"><a href="https://github.com/amanpanditap" style="color: #fdfdfd;">GitHub</a> | <a href="https://www.instagram.com/___amanpandit___/" style="color: #fdfdfd;">Instagram</a></h5>
                <p class="college">Walchand College of Engineering, Sangli</p>
            </div></div>
    </div></div>
</div></div>

    <!-- Footer -->
			<div class="col text-center">
				Copyright &copy;
				<script>document.write(new Date().getFullYear());</script> All rights reserved | This website is made
				by Rational Rulers
			</div>
		</footer>
{% endblock %}
