<div class="container">
    <div class="intro_container">
        <div class="testimonials" id="testimonials">
            <div class="parallax_background parallax-window" data-parallax="scroll" data-speed="0.8"></div>
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <div class="section_subtitle"><b style="font-size:20px;">From Learners</b></div>
                        <div class="section_title">
                            <h1>Testimonials</h1>
                        </div>
                    </div>
                </div>

                <!-- Testimonials Slider -->
                <div class="testimonials_slider_container">
                    <div class="owl-carousel owl-theme testimonials_slider">

                        <!-- Slide -->
                        <div class="owl-item text-center">
                            <div class="testimonial">A very nice Initiative by the Creators for making Education
                                free & easily available without any distraction, Would recommend everyone to use and
                                utilize it well.</div>
                            <div class="testimonial_author">
                                <div
                                    class="testimonial_author_content d-flex flex-row align-items-end justify-content-start">
                                    <div>Aman Pandit,</div>
                                    <div>Student</div>
                                </div>
                            </div>
                        </div>

                        <!-- Slide -->
                        <div class="owl-item text-center">
                            <div class="testimonial">A very nice Initiative by the Creators for making Education
                                free & easily available without any distraction, Would recommend everyone to use and
                                utilize it well.</div>
                            <div class="testimonial_author">
                                <div
                                    class="testimonial_author_content d-flex flex-row align-items-end justify-content-start">
                                    <div>Devang Kamble,</div>
                                    <div>Student</div>
                                </div>
                            </div>
                        </div>

                        <!-- Slide -->
                        <div class="owl-item text-center">
                            <div class="testimonial">A very nice Initiative by the Creators for making Education
                                free & easily available without any distraction, Would recommend everyone to use and
                                utilize it well.</div>
                            <div class="testimonial_author">
                                <div
                                    class="testimonial_author_content d-flex flex-row align-items-end justify-content-start">
                                    <div>Vaishnavi Mahajan,</div>
                                    <div>Student</div>
                                </div>
                            </div>
                        </div>

                        <!-- Slide -->
                        <div class="owl-item text-center">
                            <div class="testimonial">A very nice Initiative by the Creators for making Education
                                free & easily available without any distraction, Would recommend everyone to use and
                                utilize it well.</div>
                            <div class="testimonial_author">
                                <div
                                    class="testimonial_author_content d-flex flex-row align-items-end justify-content-start">
                                    <div>Vatsala Singh,</div>
                                    <div>Student</div>
                                </div>
                            </div>
                        </div>

                        <!-- Slide -->
                        <div class="owl-item text-center">
                            <div class="testimonial">A very nice Initiative by the Creators for making Education
                                free & easily available without any distraction, Would recommend everyone to use and
                                utilize it well.</div>
                            <div class="testimonial_author">
                                <div
                                    class="testimonial_author_content d-flex flex-row align-items-end justify-content-start">
                                    <div>Veerja Kadam,</div>
                                    <div>Student</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>