{% extends 'base.html' %}
{% load static %}
{% block title %}Reset Password{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'all.css' %}">
<link rel="stylesheet" href="{% static 'bt.css' %}">
<link rel="stylesheet" href="{% static 'btb.css' %}">
<link rel="stylesheet" href="{% static 'login.css' %}">
<br>
{% if user.is_authenticated %}
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto d-block">
            <div class="card card-signin my-5 mx-auto d-block" style="background-color: #fff; border-radius: 20px; background: linear-gradient(to right, #ebebeb, #f1f1f1);">
                <div class="card-body">
                    <h3 class="card-title text-center" style="font-size:2.3rem;">Reset Password</h3>
                    <div>
                        <h5 style="text-align:center; color:rgb(207, 73, 73)"> {{error_message}} </h5>
                    </div>
                    <form class="form-signin" action="" method="post">
                        {% csrf_token %}
                        <div class="wrap-input100 validate-input m-b-16" data-validate = "Enter current password">
                            <label for="currentPassword" class="form-label-group">Enter current password</label>
						    <input class="form-control" type="password" name="currentPassword" placeholder="Current password" style="border-radius: 20px; font-size: 14px;" required>
                            <span class="focus-input100"></span>
						    <span class="symbol-input100">
							<span class="lnr lnr-lock"></span>
						    </span>
					    </div>
                        <br>

                        <div class="wrap-input100 validate-input m-b-16" data-validate = "Enter new password">
                            <label for="newPassword" class="form-label-group">Enter new password</label>
						    <input class="form-control" type="password" name="newPassword" placeholder="New password" style="border-radius: 20px; font-size: 14px;" required>
						    <span class="focus-input100"></span>
						    <span class="symbol-input100">
							<span class="lnr lnr-lock"></span>
						    </span>
					    </div>
                        <br>

                        <div data-validate = "Re-enter new password">
                            <label for="reNewPassword" class="form-label-group">Re-enter new password</label>
                            <input class="input100 form-control" type="password" name="reNewPassword" placeholder="Confirm New Password" style="border-radius: 20px; font-size: 14px;" required>
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <span class="lnr lnr-lock"></span>
                            </span>
                        </div>
                        <br>

                        <button class="btn btn-sm btn-primary btn-block text-uppercase" type="submit"
                            style="font-size: 1.2rem;">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<h1>You are not authorized to access this page.Please login.</h1>
{% endif %}
<script src="{% static 'jq.js' %}"></script>

{% endblock %}