{% extends 'base.html' %}
{% load static %}
{% block title %}Edu.f.All{% endblock %}
{% block content %}


<br><br><br><br><br><br>
<div class="text-center container-fluid">
    <img src="{% static 'book.png' %}" alt="logo" class="img img-fluid" width="100"><br>
    <h3 style="color:#2e2e2e">Education For All.</h3>
</div>

<br><br>
<h1 style="text-align:center; color:rgb(36, 34, 34)"><b>Our Motto : Education should be accessible for All!</b></h1>
<br>


<div class="super_container">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="intro_container">
                    <div class="row">

                        <!-- Intro Item -->
                        <div class="col-lg-4 intro_col">
                            <div class="intro_item d-flex flex-row align-items-end justify-content-start">
                                <div class="intro_icon"><img src="{% static 'images/book.png' %}" alt=""></div>
                                <div class="intro_content">
                                    <div class="intro_title"><a href="{% url 'Syllabus' %}" style="color: #101bbb;"><b
                                                style="font-size:20px;">Latest Syllabus</b></a></div>
                                    <div class="intro_subtitle">
                                        <p>All the notes are up to date as per latest official guidelines.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Intro Item -->
                        <div class="col-lg-4 intro_col">
                            <div class="intro_item d-flex flex-row align-items-end justify-content-start">
                                <div class="intro_icon"><img src="{% static 'images/tests.png' %}" alt=""></div>
                                <div class="intro_content">
                                    <div class="intro_title"><a href="{% url 'Tests' %}" style="color: #101bbb;"><b
                                                style="font-size:20px;">Tests</b></a></div>
                                    <div class="intro_subtitle">
                                        <p>All the Questions in tests are as per the latest guidelines.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Intro Item -->
                        <div class="col-lg-4 intro_col">
                            <div class="intro_item d-flex flex-row align-items-end justify-content-start">
                                <div class="intro_icon"><img src="{% static 'images/forum.png' %}" alt="">
                                </div>
                                <div class="intro_content">
                                    <div class="intro_title"><a href="{% url 'forum:forumLanding' %}"
                                            style="color: #101bbb;"><b style="font-size:20px;">Amazing Forum</b></a>
                                    </div>
                                    <div class="intro_subtitle">
                                        <p>A place where you can clear all your doubts from your peers or mentors.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="container">
    <div class="intro_container">
    <h3 style="text-align:center; color:rgb(255, 255, 255)">From Learner's, Mentors & Teacher's</h3>
    <h1 style="text-align:center; color:rgb(255, 255, 255)">Testimonials</h1>
    <br><br><br>
    <div class="container-fluid">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="owl-item text-center">
                        <div class="testimonial">A very nice Initiative by the Creators for making Education
                            free & easily available without any distraction, Would recommend everyone to use and
                            utilize it well.</div>
                        <br>    
                        <div class="testimonial_author">
                            <div
                                class="testimonial_author_content d-flex flex-row align-items-end justify-content-start">
                                <div>Aman Pandit,</div>
                                <div>Student</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="owl-item text-center">
                        <div class="testimonial">I enjoy learning over here, without any distraction also the best part is that I don't need to connect to Internet for studying.</div>
                            <br>
                        <div class="testimonial_author">
                            <div
                                class="testimonial_author_content d-flex flex-row align-items-end justify-content-start">
                                <div>Devang Kamble,</div>
                                <div>Student</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="owl-item text-center">
                        <div class="testimonial">Practice makes man Perfect! Very well implemented by the creators by adding tests and forum section as I can rectify myself as many times as possible and have fun while learning.</div>
                            <br>
                        <div class="testimonial_author">
                            <div
                                class="testimonial_author_content d-flex flex-row align-items-end justify-content-start">
                                <div>Vaishnavi Mahajan,</div>
                                <div>Student</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="owl-item text-center">
                        <div class="testimonial">It is very for me to manage the data of students and clear their queries or update anything on the server due to the simplicity in which the creators have made it is amazing.</div>
                            <br>
                        <div class="testimonial_author">
                            <div
                                class="testimonial_author_content d-flex flex-row align-items-end justify-content-start">
                                <div>Vatsala Singh,</div>
                                <div>Mentor</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="owl-item text-center">
                        <div class="testimonial">Kudos to the Creators for this brilliant help to us teachers so as to make students learn in a comfortable way without any network issues and with the flexibilty for us to update notes, lectures & tests for the students.</div>
                            <br>
                        <div class="testimonial_author">
                            <div
                                class="testimonial_author_content d-flex flex-row align-items-end justify-content-start">
                                <div>Veerja Kadam,</div>
                                <div>Teacher</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="contact" id="connect">
        <h2 class="contactus"></h2>
        <h3 class="cont"></h3>
        <div class="container">
            <div class="row">
                <h3 style="text-align:center; color: #c9fd4e;">Rational Rulers</h3>
                <h2 style="text-align:center; color:rgb(0, 0, 0)">Meet the Creators</h2>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-4 col-xs-12">
                    <div class="column">
                        <div class="name">Vaishnavi Mahajan</div>
                        <h5 class="ghhh"><a href="https://github.com/VaishnaviM411" style="color: #c9fd4e;">GitHub</a> |
                            <a href="https://www.instagram.com/_vibhaa._/" style="color: #c9fd4e;">Instagram</a></h5>
                        <p class="college">Walchand College of Engineering, Sangli</p>
                    </div>
                </div>
                <div class="col-lg-4 col-xs-12">
                    <div class="column">
                        <div class="name">Veerja Kadam</div>
                        <h5 class="ghhh"><a href="https://github.com/veerja-kadam" style="color: #c9fd4e;">GitHub</a> |
                            <a href="https://www.instagram.com/veerjakadam/" style="color: #c9fd4e;">Instagram</a>
                        </h5>
                        <p class="college">Walchand College of Engineering, Sangli</p>
                    </div>
                </div>
                <div class="col-lg-4 col-xs-12">
                    <div class="column">
                        <div class="name">Vatsala Singh</div>
                        <h5 class="ghhh"><a href="https://www.linkedin.com/in/vatsala-singh-a00207209/" style="color: #c9fd4e;">LinkedIn</a>
                            | <a href="https://www.instagram.com/tempest_steel_vatsala/"
                                style="color: #c9fd4e;">Instagram</a></h5>
                        <p class="college">Walchand College of Engineering, Sangli</p>
                    </div>
                </div>

                <div class="col-lg-4 col-xs-12">
                    <div class="column">
                        <div class="name">Devang Kamble</div>
                        <h5 class="ghhh"><a href="https://github.com/rising-entropy" style="color: #c9fd4e;">GitHub</a>
                            | <a href="https://www.instagram.com/devangkamble/" style="color: #c9fd4e;">Instagram</a>
                        </h5>
                        <p class="college">Walchand College of Engineering, Sangli</p>
                    </div>
                </div>
                <div class="col-lg-4 col-xs-12">
                    <div class="column">
                        <div class="name">Aman Pandit</div>
                        <h5 class="ghhh"><a href="https://github.com/amanpanditap" style="color: #c9fd4e;">GitHub</a> |
                            <a href="https://www.instagram.com/___amanpandit___/" style="color: #c9fd4e;">Instagram</a>
                        </h5>
                        <p class="college">Walchand College of Engineering, Sangli</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<div class="footer">
    <div class="col text-center">
        Copyright &copy;
        <script>
            document.write(new Date().getFullYear());
        </script> All rights reserved | This website is made
        by Rational Rulers
    </div>
</div>
</div>
{% endblock %}