{% extends 'base.html' %}
{% load static %}
{% block title %}Ensenanza - Add Question{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'all.css' %}">
<link rel="stylesheet" href="{% static 'bt.css' %}">
<link rel="stylesheet" href="{% static 'btb.css' %}">
<link rel="stylesheet" href="{% static 'login.css' %}">
<link rel="stylesheet" href="{% static 'forumLanding.css' %}">
<br>
<br>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="mx-auto d-block float-left">
            <div class="card card-signin my-5 mx-auto d-block" style="background-color: #fff; border-radius: 20px; background: linear-gradient(to right, #ebebeb, #f1f1f1);">
                <div class="card-body">
                        <h6>{{error_message}}</h6>
                    
                        <form class="form-signin" action="" method="post">
                            {% csrf_token %}

                            <label for="title" class="form-label-group" style="color: #312b26;">Enter Question Title: </label>
                            <input type="text" name="title" id="title" class="form-control" style="border-radius: 20px; font-size: 15px;" required><br>

                            <label for="medium" class="form-label-group" style="color: #312b26;">Choose Question Medium: </label>
    <select name="medium" id="medium" class="form-control form-select" style="border-radius: 20px; font-size: 15px;" required>
        <option value="english" class="form-control">English</option>
        <option value="hindi" class="form-label-group">Hindi</option>
        <option value="marathi" class="form-label-group">Marathi</option>
    </select><br>


    <label for="acadYear" class="form-label-group" style="color: #312b26;">Choose Question Year: </label>
    <select name="acadYear" id="acadYear" required class="form-control form-select" style="border-radius: 20px; font-size: 15px;">
        <option value="1">First Standard</option>
        <option value="2">Second Standard</option>
        <option value="3">Third Standard</option>
        <option value="4">Fourth Standard</option>
        <option value="5">Fifth Standard</option>
        <option value="6">Sixth Standard</option>
        <option value="7">Seventh Standard</option>
        <option value="8">Eighth Standard</option>
        <option value="9">Ninth Standard</option>
        <option value="10">Tenth Standard</option>
    </select><br>

    <label for="subject" class="form-label-group" style="color: #312b26;">Choose Question Subject: </label>
    <select name="subject" id="subject" required class="form-control form-select" style="border-radius: 20px; font-size: 15px;">
        <option value="English">English</option>
        <option value="Hindi">Hindi</option>
        <option value="Marathi">Marathi</option>
        <option value="History">History</option>
        <option value="Geography">Geography</option>
        <option value="Algebra">Algebra</option>
        <option value="Geometry">Geometry</option>
        <option value="Science">Science</option>
        <option value="Other">Other</option>
    </select><br>

    <label for="board" class="form-label-group" style="color: #312b26;">Choose Your Board: </label>
    <select name="board" id="board" required class="form-control form-select" style="border-radius: 20px; font-size: 15px;">
        <option value="SSC">SSC</option>
        <option value="CBSE">CBSE</option>
        <option value="ICSE">ICSE</option>
    </select><br>

    <label for="body" class="form-label-group" style="color: #312b26;">Describe your Question: </label><br>
    <textarea id="body" name="body" rows="10" cols="100"  type="text" class="form-control" required style="border-radius: 20px; font-size: 14px;"></textarea><br>

                           
  

                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" style="font-size: 1rem;">Add Question</button>
                        </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}