{% extends 'base.html' %}
{% load static %}
{% block title %}Ensenanza - Forum Question{% endblock %}
{% block content %}


<link rel="stylesheet" href="{% static 'all.css' %}">
<link rel="stylesheet" href="{% static 'bt.css' %}">
<link rel="stylesheet" href="{% static 'btb.css' %}">
<link rel="stylesheet" href="{% static 'login.css' %}">
<link rel="stylesheet" href="{% static 'forumLanding.css' %}">


<div class="container-fluid">
    <br>
    <br>
    <br>
    <br>
    {% if user.is_anonymous is False %}
    <a class="btn btn-primary btn-lg float-right" href="#answers" role="button">View Answers</a>
    {% endif %}
    <br>
    
    <h4 style="color:#3f6ad8">{{error_message}}</h4>
    <br>
<br>
</div>
  
<div class="container-fluid">

    <a class="btn btn-primary btn-sm float-left" style="margin-right: 16px; margin-bottom: 16px" href="" role="button">{{question.board}}</a>
    <a class="btn btn-primary btn-sm float-left" style="margin-right: 16px; margin-bottom: 16px"  href="" role="button">{{question.medium}}</a>
    <a class="btn btn-primary btn-sm float-left" style="margin-right: 16px; margin-bottom: 16px"  href="" role="button">{{question.acadYear}}</a>
    <a class="btn btn-primary btn-sm float-left" style="margin-right: 16px; margin-bottom: 16px"  href="" role="button">{{question.subject}}</a>
</div>

<div class="container-fluid">
<br>
<br>
<br>
    <h4 style="color: #312b26;">{{question.title}}</h4>
    <h6 style="color: #312b26;">{{question.body}}</h6>
    <br>
</div>

{% if user.is_anonymous is False %}
<div class="container">
    <div class="row">
        <div class="mx-auto d-block float-left">
            <div class="card card-signin my-4 mx-auto d-block" style="background-color: #fff; border-radius: 20px; background: linear-gradient(to right, #ebebeb, #f1f1f1);">
                <div class="card-body">
                    <!--<h4 class=" text-center" ><strong>{{question.title}}</strong></h4>
                    <h6 class="text-center" >{{question.body}}</h6>-->
                    <!--<div>
                        <h6>{{error_message}}</h6>
                    </div>-->
                        <form class="form-signin" action="" method="post" style="padding:0.01rem">
                            {% csrf_token %}
                            <label for="body" class="form-label-group">Your Answer</label>
                            <textarea id="body" name="body" rows="10" cols="100"  type="text" class="form-control" required style="border-radius: 20px; font-size: 14px;">
                            </textarea><br>                          
                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" style="font-size: 1rem;">Add Answer</button>
                            
                        </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="container">
<p style="font-size:1rem; color: #381919;">Please <a href="{% url 'Login' %}" style="color: blue">Login</a> to add your Answer</p>
</div>
{% endif %}
<div class="container-fluid" id="answers">
<br>
<br>

    {% for i in answers %}
        <div class="card" style="background-color: #c2e1ff; color: #1a1111;">
           <!-- <div class="card-header" style="font-size:1.6rem; background-color: #9adffa; color: #312b26">
                {{i.body}}
            </div>-->
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>{{i.body}}</p>
                    <footer class="blockquote-footer">Answered By <cite
                            title="Source Title">{{ i.answerBy.user.first_name}}</cite> on {{i.created}}
                        {% if i.isVerified %}
                        &nbsp;&nbsp;&nbsp; <span style="color: green; font-style: italic"><strong>(Verified)</strong></span>
                        {% endif %}
                        </footer>
                
                            <form action="" method="post">
                                {% csrf_token %}
                                <div class="form-check">
                                    <input type="hidden" name="answerID" value="{{i.id}}">
                                  <input type="checkbox" class="form-check-input" id="exampleCheck1" name="verifyAnswer">
                                  <label class="form-check-label" for="exampleCheck1" style="font-size:1rem">Verify This Answer?</label>
                                </div>
                                <button type="submit" class="btn btn-primary btn-sm">Confirm</button>
                              </form>
                </blockquote>
            </div>
        </div>

    <br>
    {% endfor %}
</div>


<script>
function focus()
{
window.location.href="queAns.html#upar";
}
</script>
<script>
if ( window.history.replaceState ) {
  window.history.replaceState( null, null, window.location.href );
}
</script>


{% endblock %}