{% extends 'base.html' %}
{% load static %}
{% block title %}Ensenanza - Forum{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'all.css' %}">
<link rel="stylesheet" href="{% static 'bt.css' %}">
<link rel="stylesheet" href="{% static 'btb.css' %}">
<link rel="stylesheet" href="{% static 'login.css' %}">
<link rel="stylesheet" href="{% static 'forumLanding.css' %}">
<div class="container-fluid">
    <br>
    <a class="btn btn-primary btn-lg float-right" href="{% url 'forum:addQuestion' %}" role="button">Add a Question</a>
    <br>
    <h3>{{error_message}}</h3>
    <br>
<br>
    <div class="container-fluid" style="padding: 10px; border: 2px solid; border-radius: 20px;">
        <form action="" method="post">
            {% csrf_token %}
        <div class="row">
            <div class="col-lg-2">
                <select name="board" id="board" required class="form-control"
                            style="border-radius: 20px; font-size: 15px; margin-bottom: 5px;">
                            <option value="SSC">SSC</option>
                            <option value="CBSE">CBSE</option>
                            <option value="ICSE">ICSE</option>
                </select>
            </div>
            <div class="col-lg-3">
                <select name="medium" id="medium" required class="form-control"
                            style="border-radius: 20px; font-size: 15px; margin-bottom: 5px;">
                            <option value="english">English</option>
                            <option value="hindi">Hindi</option>
                            <option value="marathi">Marathi</option>
                </select>
            </div>
            <div class="col-lg-3">
                <select name="acadYear" id="acadYear" required style="border-radius: 20px; font-size: 15px; margin-bottom: 5px;"
                            class="form-control">
                            <option value="1">First Standard</option>
                            <option value="2">Second Standard</option>
                            <option value="3">Third Standard</option>
                            <option value="4">Fourth Standard</option>
                            <option value="5">Fifth Standard</option>
                            <option value="6">Sixth Standard</option>
                            <option value="7">Seventh Standard</option>
                            <option value="8">Eighth Standard</option>
                            <option value="9">Ninth Standard</option>
                            <option value="10">Tenth Standard</option>
                        </select>
            </div>
            <div class="col-lg-3">
                <select name="subject" id="subject" required style="border-radius: 20px; font-size: 15px; margin-bottom: 5px;"
                class="form-control">
                    <option value="English">English</option>
                    <option value="Hindi">Hindi</option>
                    <option value="Marathi">Marathi</option>
                    <option value="History">History</option>
                    <option value="Geography">Geography</option>
                    <option value="Algebra">Algebra</option>
                    <option value="Geometry">Geometry</option>
                    <option value="Science">Science</option>
                    <option value="Other">Other</option>
                </select>
            </div>
            <div class="col-lg-1">
                <button class="btn btn-primary btn-block text-uppercase" type="submit"
                            style="font-size: 1rem; padding: 4%; border-radius: 20px;">Submit</button>
            </div>
        </form>
        </div>
    </div>
<br><br>
    {% if questions %}
    <h1 style="color: #312b26;">Questions:</h1>
    <br>
</div>

<div class="container-fluid">
    {% for i in questions %}
    <a href="{% url 'forum:queAns' i.id %}">
        <div class="card" style="background-color: #c2e1ff; color: #1a1111;">
            <div class="card-header" style="font-size:1.6rem; background-color: #9adffa; color: #312b26">
                {{i.title}}
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>{{i.body}}</p>
                    <footer class="blockquote-footer">Asked By <cite
                            title="Source Title">{{ i.questionBy.user.first_name }}</cite></footer>
                </blockquote>
            </div>
        </div>
    </a>
    <br>
    {% endfor %}
</div>

{% else %}
<h2>Found 0 Results.</h2>
{% endif %}


{% endblock %}